@{
    ViewData["Title"] = "Model";
}

<div class="text-center">
    <h1 class="display-4">Model</h1>

    <div class="container">
        <img src="/image/mvc.png" class="rounded float-start m-3" alt="...">
        <p>

            The central component of the pattern. It is the application's dynamic data structure, independent of the user interface. It directly manages the data, logic and rules of the application. In Smalltalk-80, the design of a model type is left entirely to the programmer. With WebObjects, Rails, and Django, a model type typically represents a table in the application's database.
        </p>
    </div>
</div>